<meta charset="utf-8">
    <title>Car Rental Supreme</title>
    <link href="/public/css/style.css" rel="stylesheet">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="shortcut icon" href="/public/favicon/favicon.ico">
    <script src="/public/js/jquery-3.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/public/js/script.js"></script>