<div id="splash">
    <div class="styled-form">
            <form method='POST' action='/searchdate'>
                <fieldset>
                    <legend><span class="number">1</span> Välj datum</legend>
                <label for="dateFrom" > Hyra från </label>
                <input type="text" class="datepicker" class="date" name="dateFrom"  placeholder="Från">   
                <input type="text" class="datepicker right" class="date" name="dateTo"  placeholder="Till">                     
                </fieldset>            
                <input type="submit" value="Sök"  />
        </form>
    </div>
</div>
    

