body,
html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #EDEDED;
}

#splash {
    background: url(/public/img/splash_saturated.jpg) no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100%;
    overflow: hidden;
}


/*NAVBAR*/

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    display: flex;
    justify-content: center;
    max-height: 10%;
}

ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
    line-height: 50px;
    background: #1abc9c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 8px;
}

ul.nav li {
    border-right: 1px solid #189b80;
    float: left;
}

ul.nav a {
    display: block;
    padding: 0 28px;
    color: #ccece6;
    text-decoration: none;
}

ul.nav a:hover,
ul.nav li.current a {
    background: #086754;
}


/*Form*/

.styled-form {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin-left: 15%;
    margin-top: 8%;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid darkgray;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.styled-form fieldset {
    border: none;
}

.styled-form legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.styled-form label {
    display: block;
    margin-bottom: 8px;
}

.styled-form input[type="text"],
.styled-form input[type="date"],
.styled-form input[type="datetime"],
.styled-form input[type="email"],
.styled-form input[type="number"],
.styled-form input[type="search"],
.styled-form input[type="time"],
.styled-form input[type="url"],
.styled-form textarea,
.styled-form select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

.styled-form input[type="text"]:focus,
.styled-form input[type="date"]:focus,
.styled-form input[type="datetime"]:focus,
.styled-form input[type="email"]:focus,
.styled-form input[type="number"]:focus,
.styled-form input[type="search"]:focus,
.styled-form input[type="time"]:focus,
.styled-form input[type="url"]:focus,
.styled-form textarea:focus,
.styled-form select:focus {
    background: #d2d9dd;
}

.styled-form select {
    -webkit-appearance: menulist-button;
    height: 35px;
}

.styled-form .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}

.styled-form input[type="submit"],
.styled-form input[type="button"],
.standard-button {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.styled-form input[type="submit"]:hover,
.styled-form input[type="button"]:hover {
    background: #109177;
}

.datepicker {
    width: 48% !important;
}


/*Cars*/

.container {
    background-color: #FFFFFF;
    margin: 5% 20%;
    width: 60%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
}

.carList {
    list-style-type: none;
    /*text-align: center;*/
}

.carObject {
    display: inline-block;
    background: #EFEFEF;
    color: black;
    margin: 2rem 1rem 2rem 0;
    font-size: 20px;
    width: 15rem;
    height: 100%;
    border: 1px solid black;
}


/*Success-page*/

.successs {
    text-align: center;
}

.long-container {
    background-color: #FFFFFF;
    margin: 5% 20%;
    width: 60%;
    /*height: 100%;*/
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}


/*Filters*/

.filter-nav {
    padding: 1rem 0;
    border-bottom: 2px solid darkgray !important;
    font-size: 150%;
    color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
    /*background: rgba(255, 255, 255, .1);*/
    border: none;
    border-radius: 4px;
    font-size: 20px;
    margin: 0;
    outline: 0;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: black;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

.filter-nav select {
    color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
    background: white;
    font-size: 20px;
}

.filter-button {
    width: 20%;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    border: 1px solid #16a085;
}


/*DeleteOrder*/

.delete-button {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background-color: #BC1A3A !important;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #700f22 !important;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.warning {
    color: red
}

.success {
    color: green;
}