<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Car Rental Supreme</title>
    <link href="/public/css/style.css" rel="stylesheet">
    <script src="/public/js/jquery-3.2.1.min.js">
    </script>
    <script src="/public/js/script.js">
    </script>
</head>